<header>
	<ul>
		<li>
			<a href="/">{{ with resources.Get "images/debian.png" }}
				{{ with resources.Copy "img/new-image-name.jpg" . }}
					<img src="{{ .RelPermalink }}" width="76"
					alt="Debian logo">
				{{ end }}
			{{ end }}</a>
		</li>
		<li>
			<a href="https://wiki.debian.org/">Wiki</a>
		</li>
		<li>
			<a href="https://bits.debian.org/">Blog</a>
		</li>
		<li>
			<a href="https://micronews.debian.org/">Micronews</a>
		</li>
		<li>
			<a href="https://planet.debian.org/">Planet</a>
		</li>
	</ul>
</header>

<h1 class="main">{{.Title}}</h1>